@using BlogSample.ViewModels
@model PostViewModel

@{
	ViewBag.Title = "Blog";
}

<script src="~/Scripts/posts.js" type="text/javascript"></script>
<script src="~/Scripts/posts-pushing.js" type="text/javascript"></script>

<h2>Blog</h2>

<script type="text/javascript">
	function onsuccess() {
		return false;
	}
	function onfailure() {
		return false;
	}
</script>

<div class="row">
	<div class="col-lg-4">
		@using (Ajax.BeginForm("AddPost", "Home", null, new AjaxOptions
		{
			HttpMethod = "POST",
			OnSuccess = "onsuccess",
			OnFailure = "onfailure"
		}, new { @class = "form-horizontal", id = "post-form", target = "_self" }))
		{
			<h3>Post a comment: </h3>
			<div class="form-group">
				<div class="col-lg-12">
					@Html.LabelFor(m => m.Username, new { @class = "control-label" })
					@Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Username)
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-6">
					@Html.LabelFor(m => m.Date, new { @class = "control-label" })
					@Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Date)
				</div>
				<div class="col-lg-3">
					@Html.LabelFor(m => m.Gender, new { @class = "control-label" })
					@Html.DropDownListFor(m => m.Gender, (IEnumerable<SelectListItem>)ViewBag.GendersList, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-12">
					@Html.LabelFor(m => m.Body, new { @class = "control-label" })
					@Html.TextAreaFor(m => m.Body, new { @class = "form-control", placeholder = "Leave your comment here.", rows = "5" })
					@Html.ValidationMessageFor(m => m.Body)
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-12 col-lg-offset-5 btn-group">
					<button type="submit" class="btn btn-lg btn-primary" id="post-button-input">
						Submit
						<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
					</button>
				</div>
			</div>
		}
	</div>
	<div class="col-lg-8">
		<div id="posts-container">
			@Html.Partial("_Posts", new List<PostViewModel>())
		</div>
	</div>
</div>